---
const { href, title } = Astro.props;
---

<a
    class="relative dark:hover:bg-white/15 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize hover:bg-white/80"
    href={href}
>
    {title}
</a>

